body{
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4{
    font-family: 'Playfair Display', serif;
    text-align:center;
}

.general-topic h1,
.general-topic h2,
.general-topic h3{
    text-align: left;
}


header>div>a{
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    text-decoration: none;
    color:white;
}

h1{
    font-size: 1.953rem;
    padding:1.5rem 0;
}

h2{
    font-size: 1.563rem;
    padding:1.5rem 0;
}

h3{
    font-size: 1.3rem;
}

a{
    color:black;
}

.container{
    margin:0 auto;
    padding:0 1.5rem;
}

header{
    padding:1.5rem 0;
    background-color:#1d3557;
}

header>div{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header>div img{
    width:4.5rem;
}

.menu-btn{
    background:none;
    border: none;
    font-size:2.5rem;
    color:white;
}

nav{
    background-color:#1d3557;
    padding:1.5rem;
    flex: 0 0 100%;
    display: none;
    position: absolute;
    top:90px;
    left:0;
    right:0;
    z-index:10;
}

.nav-links li{
    margin:1rem 0;
}

.nav-links a{
    display:block;
    color:white;
    text-decoration: none;
}

.nav-links a:hover,
.nav-links a:active{
    font-style: italic;
    color:rgb(230, 212, 116);
}

.show{
    display: block;
}

.banner{
    background: linear-gradient(rgba(66, 66, 66, 0.3), rgba(99, 99, 99, 0.6)), url(../img/mirin-banner.webp);
    /* background-image: url(../img/mirin-banner.webp); */
    background-repeat: no-repeat;
    background-size: cover;
    padding:9rem 0;
    color:white;
    text-align: center;
}

.general-topic{
    padding:3rem 0 1.5rem 0;
}

.general-topic img{
    margin:0 auto;
    border-radius: 5px;
}

.how-its-made,
.whats-new{
    background-color: #1d3557;
    color:white;
}

.storing,
.about-author{
    background-color:#e9ecef;
}

.types,
.storing,
.cooking{
    padding-bottom:3rem;
}

.whats-new,
.about-author,
.easy-recipes{
    padding:3rem 0;
}

.whats-new-img img,
.whats-new-content img{
    display: block;
    margin:1rem auto;
    border-radius:5px;
}

.whats-new-content p{
    margin:1rem auto;
}

.whats-new-content a{
    color:white;
    font-style: italic;
}

.whats-new-content a:hover,
.whats-new-content a:active{
    color:rgb(230, 212, 116);
}

.easy-recipes img{
    margin:1.5rem auto;
    max-width:30rem;
    border-radius:5px;
}

.sauce-recipes>div{
    margin-bottom:1.5rem;
}

.leaderboard{
    margin:3rem auto 0 auto;
}

.square-banner{
    margin:1.5rem auto;
}

aside{
    background-color:#1d3557;
    margin:1rem 2rem;
    padding:1rem;
    text-align: center;
    color:white;
    border-radius: 10px;
}


footer{
    background-color:#1d3557;
    font-size: 0.85rem;
    color:white;
    padding:1rem 0;
}

footer ul{
    list-style: none;
    padding-left:0;
}

footer li{
    margin:0.75rem 0;
}

footer a{
    color:white;
    text-decoration: none;
}

footer a:hover,
footer a:active{
    font-style: italic;
    color:rgb(230, 212, 116);
}

@media screen and (min-width:768px){

    .menu-btn{
        display:none;
    }
    nav{
        display:block;
        position:static;
        flex:0 1 auto;
    }

    .nav-links{
        display:flex;
    }

    .nav-links li{
        margin:0 1rem;
    }

    .nav-links a{
        padding:0.5rem;
    }

    .general-topic img{
        max-width: 30rem;
    }

    .whats-new-img img,
    .whats-new-content img{
        max-width:30rem;
    }

    .about-author>div{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    aside{
        width:45%;
        margin:2rem 0;
    }

    footer>div{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    footer ul{
        display:flex;
    }

    footer li{
        margin:0 1rem;
    }
    

}

@media screen and (min-width:968px) {

    .container{
        max-width:1100px;
    }
    
    h1,
    h2{
        padding-top:0;
    }

    nav{
        padding:0;
    }

    .general-topic>div{
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .general-topic img{
        max-width:48%;
    }

    .general-topic>div>div{
        flex:0 0 48%;
    }

    .general-topic:nth-of-type(2)>div,
    .general-topic:nth-of-type(3)>div{
        flex-direction: row-reverse;
    }

    .types h2{
        margin-top:3rem;
    }

    .whats-new{
        margin-top:3rem;
    }

    .whats-new-img{
        display:flex;
        justify-content: space-evenly;
        margin-bottom:1.5rem;
    }

    .whats-new-content>div{
        display:flex;
        align-items: center;
    }

    .whats-new-content>div>div{
        width:48%;
    }

    .sauce-recipes{
        display:flex;
        justify-content: space-between;
    }

    .sauce-recipes>div{
        flex-basis:48%;
    }

    .sauce-recipes p{
        padding:0.5rem 0;
    }
}

@media screen and (min-width:1600px){
    .container{
        max-width:1300px;
    }

    .banner{
        padding:15rem 0;
    }
}

@media screen and (min-width:1920px){
    .container{
        max-width:1600px;
    }
}



